@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
   <div class="row">
       <div class="col-4">
           Grab Bag
       </div>
        <div class="col">
            Your store location is:
        </div>
        <div class="col">
            <a asp-action="Index" asp-controller="SignIn">Sign In</a>
        </div>
        <div class="col">
            <a asp-action="Index" asp-controller="Register">Register</a>
        </div>
        <div class="col">
            Search
        </div>
   </div>
   <br />
   <br />
   <br />

    <div class="row">
        <div class="col">
            Picture Here
        </div>
        <div class="col">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis.
        </div>
        <div class="col">
            <div class="row"><button type="submit" class="btn btn-primary">Add To Cart</button></div>
            <div class="row"><button type="submit" class="btn btn-primary">Save To Wishlist</button></div>
            <div class="row">You saved $0.00 with your membership!</div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            Picture Here
        </div>
        <div class="col">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis.
        </div>
        <div class="col">
            <div class="row"><button type="submit" class="btn btn-primary">Add To Cart</button></div>
            <div class="row"><button type="submit" class="btn btn-primary">Save To Wishlist</button></div>
            <div class="row">You saved $0.00 with your membership!</div>
        </div>
   </div>

    <div class="row">
        <div class="col">
           Picture Here
        </div>
        <div class="col">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis.
        </div>
        <div class="col">
            <div class="row"><button type="submit" class="btn btn-primary">Add To Cart</button></div>
            <div class="row"><button type="submit" class="btn btn-primary">Save To Wishlist</button></div>
            <div class="row">You saved $0.00 with your membership!</div>
        </div>
    </div>
</div>
